<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="FdfsTrackers" type="System.Configuration.DictionarySectionHandler" />
    <section name="FdfsStorages" type="System.Configuration.DictionarySectionHandler" />
    <section name="NginxService" type="System.Configuration.DictionarySectionHandler" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="retroCode" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <appSettings>
    <add key="redis_write_host" value="10.132.41.34" />
    <add key="redis_write_password" value="cSqD4cD63n" />
    <add key="redis_write_port" value="6381" />
    <add key="redis_read_host" value="10.132.41.34" />
    <add key="redis_read_password" value="cSqD4cD63n" />
    <add key="redis_read_port" value="6381" />

    <add key="rabbitmq_hostname" value="10.160.1.226"/>
    <add key="rabbitmq_virtualhost" value=""/>
    <add key="rabbitmq_port" value="5672"/>
    <add key="rabbitmq_username" value="guest"/>
    <add key="rabbitmq_password" value="guest"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <NginxService>
    <add key="Address" value="http://fs.chetuobang.com/"/>
  </NginxService>
  <FdfsTrackers>
    <add key="DefaultGroup" value="10.132.3.161:22122,10.132.1.173:22122"/>
  </FdfsTrackers>
  <FdfsStorages>
    <add key="DefaultGroup" value="10.132.3.161:23000,10.132.1.173:23000"/>
  </FdfsStorages>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./log/" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd/yyyyMMdd-HH.LOG" />
      <maxSizeRollBackups value="10" />
      <rollingStyle value="Date" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p %u %c %l %m %n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="write_connection_string" providerName="MySql.Data.MySqlClient" connectionString="Server=10.241.221.10;Port=3306;Database=dev_svr_filedb;Uid=gutianen;Pwd=9U9Q74wJbaUvw7WN;Charset=utf8;"/>
    <add name="read_connection_string" providerName="MySql.Data.MySqlClient" connectionString="Server=10.241.221.10;Port=3306;Database=dev_svr_filedb;Uid=gutianen;Pwd=9U9Q74wJbaUvw7WN;Charset=utf8;"/>
  </connectionStrings>
  <retroCode>
    <add key="path" value="C:\MMSGURU\RetroCode"/>
  </retroCode>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.7.4.0" newVersion="6.7.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>