<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\\log\\AccountApp\\" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd/yyyyMMdd-HH.LOG" />
      <maxSizeRollBackups value="10" />
      <rollingStyle value="Date" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p %u %c %l %m method:[%property{method}] %n" />
      </layout>
    </appender>
    <appender name="MongoAppender" type="CTB.Components.Common.Log.MongoDBAppender, CTB.Components.Common">
      <connectionString value='mongodb://root:chetuobang1@mongodb.api.com:27017/logsDotNet' />
      <databaseName value="logsDotNet" />
      <collectionName value="AccoutApp" />
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="MongoAppender" />
    </root>
  </log4net>
</configuration>