<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section name="weiXinConfig" type="WT.Components.Common.Config.SettingSection,WT.Components.Common"/>
    <section name="accesstoken" type="WT.Components.Common.Config.SettingSection,WT.Components.Common"/>
  </configSections>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
  </system.webServer>
  <weiXinConfig>
    <settings>
      <add key="token_url" value="https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential&amp;appid=wx4aa08de9cea02b16&amp;secret=6e483ecd089d709aa12a9cb34ee03138"/>
    </settings>
  </weiXinConfig>
  <accesstoken>
    <settings>
      <add key="autonaviLogin" value="http://192.168.80.7:88/accesstoken/getautonavipincode?format=json"/>
      <add key="autonaviLogout" value="http://192.168.80.7:88/accesstoken/RemoveAutonaviPinCode?format=json"/>
    </settings>
  </accesstoken>
  <log4net>
    <!--文件日志配置-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志存放地址-->
      <file value="D:\\log\\AccessTokenApp\\"/>
      <!--是否追加日志-->
      <appendToFile value="true"/>
      <!--日志的文件名称格式-->
      <datePattern value="yyyyMMdd/yyyyMMdd-HH.LOG"/>
      <!--保留的log文件数量 超过此数量后 自动删除之前的 -->
      <maxSizeRollBackups value="10"/>
      <!--滚动方式-->
      <rollingStyle value="Date"/>
      <!--每个文件的最大大小-->
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <!--日志的格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p %u %c %l %m %n"/>
      </layout>
    </appender>
    <!--mongoDB配置信息-->
    <appender name="MongoAppender" type="WT.Components.Common.Log.MongoDBAppender, WT.Components.Common">
      <!--mongoDB连接字符串：mongodb://username:password@host:port/database-->
      <connectionString value="mongodb://root:chetuobang1@mongodb.api.com:27017/logsDotNet"/>
      <!--log库名称-->
      <databaseName value="logsDotNet"/>
      <!--log表名称-->
      <collectionName value="AccessTokenApp"/>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="MongoAppender"/>
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.7.4.0" newVersion="6.7.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>